<section class="section-wrapper">
  <div id="blog-wrapper">
    <div id="blog-card">
      <div id="blog-content">
        <img
          id="blog-background-img"
          src="../../../../assets/landing/blog/Group 63.png"
          alt="Tablet with opened school blog"
        />

        <a
          id="blog-link"
          href="https://www.instagram.com/vedis.school/"
          target="_blank"
        >
          Підписуйся на наш блог
          <fa-icon class="ml-1" [icon]="blogArrow"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>
