.table {
  text-align: center;
  border: 2px solid rgb(175, 176, 180);
}

.table thead th {
  background-color: #ededed;
}

#delete-btn {
  border: 1px solid red !important;
  background-color: #fff;
  color: red !important;
  border-radius: 8px;
  padding: 5px;
  font-family: nunito;
  transition: 0.5s ease;
  cursor: pointer;
}
#delete-btn:hover {
  background-color: rgb(255, 217, 217);
}