/* Navbar container */
#nav-layer {
  background-color: var(--dark-blue);
  padding: 5px 10px;
}

/* Navbar logo */
#nav-logo {
  width: 100px;
  height: 100px;
}

/* Navbar links */
.custom-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.custom-link:hover {
  color: var(--orange);
}

/* Underscore line for hovered links */
.underscore-link {
  transition: 0.7;
}

.underscore-link:hover:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 8px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 85%;
  background: var(--orange);
}

/* CTA button */
#cta-btn {
  border-radius: 7px;
  font-size: 15px;
  transition: 0.5s ease;
  background-color: var(--orange);
  color: #fff;
  border: 2px solid var(--orange);
  padding: 10px;
}

#cta-btn:hover {
  background-color: #fff;
  border: 2px solid var(--orange);
  color: var(--orange);
}

/* Hamburger btns */
.hamburger-btn {
  background: none;
  border: none;
  color: #fff;
}

.hamburger-figure {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.hamburger-figure span {
  background: #fff;
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
}

.hamburger-figure span:nth-of-type(1) {
  width: 100%;
}

.hamburger-figure span:nth-of-type(2) {
  width: 100%;
}

.hamburger-figure span:nth-of-type(3) {
  width: 75%;
}

.hamburger-figure:hover span {
  background: var(--orange);
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
}

/* Offcanvas close btn */
#close-btn {
  top: 15px;
  right: 5px;
  position: absolute;
  color: #fff;
  background: none;
  border: none;
}

#close-btn i:before {
  font-size: 25px;
}

#close-btn:hover i:before {
  color: var(--orange);
}

/* Offcanvas links */
.offcanvas-link {
  color: #000;
  text-align: center;
  font-family: nunito;
  font-size: 30px;
}

.offcanvas-link:hover {
  color: var(--orange);
}

/* Offcanvas-cta-btn  */
#offcanvas-cta-btn {
  border-radius: 7px;
  font-size: 30px;
  transition: 0.5s ease;
  background-color: var(--orange);
  color: #fff;
  border: 2px solid var(--orange);
  padding: 10px;
}

#offcanvas-cta-btn:hover {
  background-color: #fff;
  border: 2px solid var(--orange);
  color: var(--orange);
}

.icon-wrapper {
  display: inline-flex;
  background-color: #d7d7d7;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

fa-icon {
  font-size: 15px;
}

.dropdown-menu {
  background-color: var(--new-blue);
  padding: 5px 0;
}

.dropdown-menu li {
  font-size: 13px;
  color: white;
}

.dropdown-menu a,
.dropdown-menu button {
  color: white;
}
.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #a1a8f3;
}

@media screen and (max-width: 1027px) and (min-width: 993px) {
  .custom-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 437px) {
  .offcanvas-link {
    font-size: 20px;
  }

  #offcanvas-cta-btn {
    font-size: 20px;
  }
}
