#blog-wrapper {
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blog-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog-content {
  width: 100%;
  position: relative;
}

#blog-background-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#blog-link {
  position: absolute;
  top: 10px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 30px;
  color: #fff;
  border-radius: 10px;
  font-family: montserrat-medium;
  background: linear-gradient(
      0deg,
      rgba(0, 123, 255, 0.5),
      rgba(0, 123, 255, 0.5)
    ),
    linear-gradient(
      92.54deg,
      rgb(28, 128, 207) 47.88%,
      rgb(255, 255, 255) 100.01%
    );
  text-decoration: none;
  transition: 0.7s;
}

#blog-link:hover {
  background: linear-gradient(0deg, rgb(5 101 205 / 50%), rgb(6 91 183 / 50%)),
    linear-gradient(
      92.54deg,
      rgb(24 101 163) 47.88%,
      rgb(255, 255, 255) 100.01%
    );
}

/* Media queries for blog section */
@media screen and (max-width: 1080px) {
  #blog-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #blog-link {
    font-size: 15px;
    padding: 5px;
    right: 5px;
  }

  #blog-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  #blog-card {
    width: 100%;
  }
}
