<section class="section-wrapper py-3">
  <div id="faq-card">
    <h3 class="sub-heading text-center">Часті запитання й відповіді</h3>
    <button class="accordion">
      Де проводяться заняття?
      <i class="bi bi-caret-right-fill"></i>
    </button>
    <div class="faq-panel">
      <p>Уроки проводяться в зумі. За потреби іноді можуть бути в скайпі.</p>
    </div>

    <button class="accordion mt-3">
      Чи можливе перенесення уроків та їх відпрацювання?
      <i class="bi bi-caret-right-fill"></i>
    </button>
    <div class="faq-panel">
      <p>
        Так, здебільшого можливість відпрацювати урок є або в суботу, або о 21
        годині в будні дні.
      </p>
    </div>

    <button class="accordion mt-3">
      Чи має оплата здійснюватися після кожного заняття?
      <i class="bi bi-caret-right-fill"></i>
    </button>
    <div class="faq-panel">
      <p>Оплачувати заняття можна у 3 способи:</p>
      <p>після кожного уроку</p>
      <p>за кожний тиждень</p>
      <p>за 10 занять вперед</p>
    </div>

    <button class="accordion mt-3">
      За скільки можливо скасувати заняття?
      <i class="bi bi-caret-right-fill"></i>
    </button>
    <div class="faq-panel">
      <p>
        Заняття мусить бути скасоване не пізніше ніж за 2 години до його
        початку.
      </p>
    </div>

    <button class="accordion mt-3">
      Чи проводяться заняття під час свят?
      <i class="bi bi-caret-right-fill"></i>
    </button>
    <div class="faq-panel">
      <p>Так, крім Різдва, Нового року та Великодня.</p>
    </div>

    <button class="accordion mt-3">
      Чи потрібно купувати підручники?
      <i class="bi bi-caret-right-fill"></i>
    </button>
    <div class="faq-panel">
      <p>Ні, усі матеріали будуть надані під час занять.</p>
    </div>
  </div>
</section>
