<h3>Терміни та визначення</h3>

<h3>Загальні положення</h3>

<h3>Перелік баз персональних даних</h3>

<h3>Мета обробки персональних даних</h3>

<h3>Порядок обробки персональних даних. Отримання згоди, повідомлення про права</h3>

<h3>Дані які також можуть збиратися</h3>

<h3>Захист персональних даних: способи захисту, відповідальна особа, працівники Володільця бази персональних даних, строк зберігання персональних даних</h3>

<h3>Права суб’єкта персональних даних</h3>

<h3>Порядок опрацювання запитів суб’єкта персональних даних</h3>

<h3>Розкриття інформації про персональні дані третім особам</h3>

<h3>Зміна/видалення даних або відкликання згоди</h3>

<h3>Інші умови</h3>

