<div class="class-card">
  <h5 class="text-xcenter my-0">Нове домашнє завдання ✍️</h5>
  <hr />
  <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
    <!-- Student name field -->
    <fieldset>
      <label for="student-select">Виберіть учня:</label>
      <select
        formControlName="studentId"
        [class.mark-invalid]="
          studentId.value == 'default' && (studentId.dirty || studentId.touched)
        "
        id="student-select"
        class="form-select"
      >
        <option selected disabled value="default"></option>
        <option *ngFor="let s of students$ | async" value="{{ s.id }}">
          {{ s.name }}
        </option>
      </select>
    </fieldset>

    <!-- Due date field -->
    <fieldset>
      <label for="class-time-start">Виконати до:</label>
      <input
        id="class-time-start"
        [class.mark-invalid]="
          dueDate.invalid && (dueDate.dirty || dueDate.touched)
        "
        formControlName="dueDate"
        type="datetime-local"
        class="form-control"
      />
    </fieldset>
  </form>

  <!-- Content field -->
  <st-editor
    #contentInput="ngModel"
    required=""
    [class.is-invalid]="
      content === '' && (contentInput.dirty || contentInput.touched)
    "
    [(ngModel)]="content"
    [config]="config"
  ></st-editor>

  <div class="w-100 mt-2 d-flex justify-content-center">
    <button
      (click)="onSubmit()"
      *ngIf="!awaitingResponse; else loadingBtn"
      type="button"
      class="outline-btn"
    >
      Зберегти
    </button>
    <ng-template #loadingBtn>
      <button class="cta" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        Зачекайте...
      </button>
    </ng-template>
  </div>
</div>
<button
  mat-dialog-close
  type="button"
  class="btn-close closeBtnModal"
  aria-label="Close"
></button>
