<div class="class-card">
  <h5 class="text-xcenter my-0">Нове слово до словника 📒</h5>
  <hr />
  <form [formGroup]="newWordForm" (ngSubmit)="onSubmit()">
    <!-- Student name field -->
    <fieldset>
      <label for="student-select">Виберіть учня:</label>
      <select
        formControlName="studentId"
        [class.mark-invalid]="
          studentId.value == 'default' && (studentId.dirty || studentId.touched)
        "
        id="student-select"
        class="form-select"
      >
        <option selected disabled value="default"></option>
        <option *ngFor="let s of students$ | async" value="{{ s.id }}">
          {{ s.name }}
        </option>
      </select>
    </fieldset>

    <!-- dueDate field -->
    <fieldset>
      <label for="class-time-start">Вивчити до:</label>
      <input
        id="class-time-start"
        [class.mark-invalid]="
          dueDate.invalid && (dueDate.dirty || dueDate.touched)
        "
        formControlName="dueDate"
        type="date"
        class="form-control"
      />
    </fieldset>

    <!-- Word field -->
    <fieldset>
      <label for="class-time-start">Слово:</label>
      <input
        id="class-time-start"
        [class.mark-invalid]="word.invalid && (word.dirty || word.touched)"
        formControlName="word"
        type="text"
        class="form-control"
      />
    </fieldset>

    <!-- Transcription field -->
    <fieldset>
      <label for="class-time-start">Транскрипція:</label>
      <input
        id="class-time-start"
        [class.mark-invalid]="
          transcription.invalid &&
          (transcription.dirty || transcription.touched)
        "
        formControlName="transcription"
        type="text"
        class="form-control"
      />
    </fieldset>

    <!-- Translation field -->
    <fieldset>
      <label for="class-time-start">Переклад:</label>
      <input
        id="class-time-start"
        [class.mark-invalid]="
          translation.invalid && (translation.dirty || translation.touched)
        "
        formControlName="translation"
        type="text"
        class="form-control"
      />
    </fieldset>
  </form>
  <hr />

  <div class="w-100 mt-2 d-flex justify-content-center">
    <button
      (click)="onSubmit()"
      *ngIf="!awaitingResponse; else loadingBtn"
      type="button"
      class="outline-btn"
    >
      Зберегти
    </button>
    <ng-template #loadingBtn>
      <button class="cta" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        Зачекайте...
      </button>
    </ng-template>
  </div>
</div>
<button
  mat-dialog-close
  type="button"
  class="btn-close closeBtnModal"
  aria-label="Close"
></button>
