<div class="main-wrapper">
  <div class="heading">
    <p class="text-center"><b>Домашні завдання</b></p>
  </div>
  <div class="w-100 px-3 mb-5">
    <div
      class="table-responsive w-100"
      *ngIf="isUserTeacher; else studentSection"
    >
      <div class="w-100 mb-3 p-2">
        <form [formGroup]="taskSearchForm" id="search-form">
          <fieldset>
            <select
              formControlName="studentEmail"
              id="student-select"
              class="form-select"
            >
              <option selected disabled value="default">Вибрати учня</option>
              <option *ngFor="let h of homework$ | async" value="{{ h.email }}">
                {{ h.name }}
              </option>
            </select>
          </fieldset>

          <fieldset>
            <button (click)="createTaskDialog()" class="outline-btn">
              <fa-icon [icon]="icons.add"></fa-icon> Додати завдання
            </button>
          </fieldset>
        </form>
      </div>
      <table class="table text-center mb-4">
        <thead>
          <tr>
            <th scope="col">Створено</th>
            <th scope="col">Дедлайн</th>
            <th scope="col">Статус</th>
            <th scope="col">Завдання</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of filteredHomework$ | async">
            <td>{{ parseTimestamp(t.createdAt) }}</td>
            <td>{{ parseTimestamp(t.dueDate) }}</td>
            <td>
              <span
                *ngIf="t.done; else canceledBadge"
                class="badge text-bg-success"
                >Виконано</span
              >
              <ng-template #canceledBadge>
                <span class="badge text-bg-danger">Не виконано</span>
              </ng-template>
            </td>
            <td>
              <button
                (click)="openDetailsDialog(t.content)"
                class="outline-btn"
                type="button"
              >
                Деталі
              </button>
            </td>
            <td>
              <button data-bs-toggle="dropdown" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <div class="dropdown">
                <ul class="dropdown-menu">
                  <li>
                    <button
                      (click)="deleteTask(t.id)"
                      type="button"
                      class="dropdown-item"
                    >
                      Видалити
                    </button>
                  </li>
                  <li>
                    <button
                      (click)="changeTaskStatus(t.id, !t.done)"
                      type="button"
                      class="dropdown-item"
                    >
                      <span *ngIf="!t.done; else notDone">Виконано</span>
                      <ng-template #notDone>
                        <span>Не виконано</span>
                      </ng-template>
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #studentSection>
      <div class="table-responsive w-100">
        <div class="w-100 mb-3 p-2"></div>
        <table class="table text-center mb-4">
          <thead>
            <tr>
              <th scope="col">Створено</th>
              <th scope="col">Дедлайн</th>
              <th scope="col">Статус</th>
              <th scope="col">Завдання</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="(homework$ | async)?.length == 0">
              <td colspan="5" class="text-center">
                Ваш вчитель поки що не додав завдання 🥳
              </td>
            </tr>
            <tr *ngFor="let item of homework$ | async">
              <td>{{ parseTimestamp(item.createdAt) }}</td>
              <td>{{ parseTimestamp(item.dueDate) }}</td>
              <td>
                <span
                  *ngIf="item.done; else canceledBadge"
                  class="badge text-bg-success"
                  >Виконано</span
                >
                <ng-template #canceledBadge>
                  <span class="badge text-bg-danger">Не виконано</span>
                </ng-template>
              </td>
              <td>
                <button
                  (click)="openDetailsDialog(item.content)"
                  class="outline-btn"
                  type="button"
                >
                  Деталі
                </button>
              </td>
              <td>
                <button data-bs-toggle="dropdown" mat-icon-button>
                  <mat-icon>more_vert</mat-icon>
                </button>
                <div class="dropdown">
                  <ul class="dropdown-menu">
                    <li>
                      <button
                        (click)="changeTaskStatus(item.id, !item.done)"
                        type="button"
                        class="dropdown-item"
                      >
                        <span *ngIf="!item.done; else notDone">Виконано</span>
                        <ng-template #notDone>
                          <span>Не виконано</span>
                        </ng-template>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>
