<!-- Teacher section -->
<section *ngIf="isUserTeacher; else studentSection">
  <div class="text-center">
    <h2>Домашні завдання</h2>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: var(--shadow);
      padding: 15px;
    "
  >
    <ul class="tree">
      <li class="mb-3" *ngFor="let item of homework$ | async">
        <details>
          <summary>{{ item.name }} ({{ item.email }})</summary>
          <ul>
            <li class="mb-2 fs-lg" *ngFor="let homework of item.homework">
              {{ parseTimestamp(homework.dueDate) }} &nbsp;
              <button
                (click)="
                  openDialog(
                    item.name,
                    item.email,
                    homework.createdAt,
                    homework.dueDate,
                    homework.done,
                    homework.content
                  )
                "
                class="info-btn"
                type="button"
              >
                <i class="bi bi-info-circle-fill"></i>
              </button>
              <button
                (click)="deleteTask(homework.id)"
                class="info-btn"
                style="margin-left: 15px"
                type="button"
              >
                <i class="bi bi-trash-fill"></i>
              </button>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</section>

<!-- Student section -->
<ng-template #studentSection>
  <section>
    <h2 style="font-family: montserrat-bold">Домашні завдання</h2>

    <div
      *ngIf="(homework$ | async)?.length !== 0; else emptyHomework"
      class="d-flex gap-4"
    >
      <div class="task-card" *ngFor="let item of homework$ | async">
        <div>
          <div class="d-flex justify-content-between">
            <span style="font-family: montserrat-bold"
              >Виконати до: &nbsp;</span
            >
            <span>{{ parseTimestamp(item.dueDate) }}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span style="font-family: montserrat-bold">Статус:</span>
            <span *ngIf="!item.done; else doneStatus">Не виконано ❌</span>
            <ng-template #doneStatus>
              <span>Виконано ✅</span>
            </ng-template>
          </div>
          <hr />
          <div
            style="overflow-y: auto; max-height: 150px"
            [innerHTML]="item.content"
          ></div>
          <hr />
        </div>
        <div>
          <button
            (click)="changeTaskStatus(item.id, true)"
            type="button"
            *ngIf="!item.done && !awaitingResponse"
            mat-raised-button
            color="primary"
          >
            Виконано
          </button>
          <button
            (click)="changeTaskStatus(item.id, false)"
            type="button"
            *ngIf="item.done && !awaitingResponse"
            mat-raised-button
            color="accent"
          >
            Не виконано
          </button>
          <button
            *ngIf="awaitingResponse"
            type="button"
            mat-raised-button
            disabled
          >
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span>&nbsp; Зачекайте...</span>
          </button>
        </div>
      </div>
    </div>

    <ng-template #emptyHomework>
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="text-center">У Вас поки що немає домашніх завдань 🥳</h3>
      </div>
    </ng-template>
  </section>
</ng-template>
