.tree {
  --spacing: 1.5rem;
  --radius: 10px;
  width: 500px;
}
.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}
.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}
.tree ul li {
  border-left: 2px solid #ddd;
}
.tree ul li:last-child {
  border-color: transparent;
}
.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

summary {
  font-weight: 600;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--purple);
}

.info-btn {
  background: none;
  border: none;
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: var(--shadow);
  height: 350px;
}

@media screen and (max-width: 870px) {
  .task-card {
    width: 60%;
  }
}

@media screen and (max-width: 565px) {
  .task-card {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  .task-card {
    width: 95%;
  }
}
