<section style="background-color: #fff" class="section-wrapper py-3">
  <div id="pros-card">
    <h3 class="sub-heading text-center">Чому Вам варто обрати Vedis?</h3>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <!-- Card 1 -->
      <div class="col mt-3">
        <div class="pro-card card p-2">
          <img
            src="../../../../assets/landing/benefits/woman-technologist.png"
            class="mx-auto"
            alt="woman-technologist emoji"
          />
          <div class="card-body">
            <h4 class="card-title">Індивідуальні заняття</h4>
            <p class="card-text">
              Ми розуміємо, що кожен учень унікальний. Наші програми навчання
              адаптуються під потреби та швидкість кожного учня.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col mt-3">
        <div class="pro-card card p-2">
          <img
            src="../../../../assets/landing/benefits/gift.png"
            class="mx-auto"
            alt="gift emoji"
          />
          <div class="card-body">
            <h4 class="card-title">Навчальні матеріали</h4>
            <p class="card-text">
              Вам непотрібно витрачати час та гроші на пошук навчальних
              матеріалів. Школа Vedis надасть Вам всі необхідні матеріали під
              час навчання безкоштовно.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col mt-3">
        <div class="pro-card card p-2">
          <img
            src="../../../../assets/landing/benefits/dictionary.png"
            class="mx-auto"
            alt="dictionary emoji"
          />
          <div class="card-body">
            <h4 class="card-title">Онлайн словник</h4>
            <p class="card-text">
              На нашій платформі ви отримаєте доступ до персонального словника.
              Завдяки цьому інструменту Ви зможете ще швидше вивчити іноземну
              мову.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col mt-3">
        <div class="pro-card card p-2">
          <img
            src="../../../../assets/landing/benefits/exam.png"
            class="mx-auto"
            alt="hand emoji"
          />
          <div class="card-body">
            <h4 class="card-title">Підготовка до екзаменів</h4>
            <p class="card-text">
              Ми розробили програми, які за максимально короткий проміжок часу
              якісно підготують Вас до типових завдань.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col mt-3">
        <div class="pro-card card p-2">
          <img
            src="../../../../assets/landing/benefits/conversation.png"
            class="mx-auto"
            alt="speech emoji"
          />
          <div class="card-body">
            <h4 class="card-title">Ви швидко заговорите</h4>
            <p class="card-text">
              На заняттях Ви будете багато говорити, що допоможе Вам зламати
              мовний бар’єр та почати говорити впевненно.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col mt-3">
        <div class="pro-card card p-2">
          <img
            src="../../../../assets/landing/benefits/rocket.png"
            class="mx-auto"
            alt="rocket emoji"
          />
          <div class="card-body">
            <h4 class="card-title">Креативна подача</h4>
            <p class="card-text">
              Ми створюємо заняття на основі сучасних методик європейського
              стандарту, що робить заняття більш цікавими.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
