:host {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

#pwd-setting,
#avatar-setting,
#data-setting {
  background: #fff;
  height: fit-content;
  padding: 5px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pwd-setting {
  margin-top: 15px;
}

#avatar-setting {
  width: 310px;
}
#data-setting {
  width: 50%;
}

#avatar-actions {
  display: flex;
  gap: 10px;
}

.filled-btn {
  border: 2px solid #6366f1;
  border-radius: 8px;
  padding: 5px;
  font-family: nunito;
  transition: 0.5s ease;
  cursor: pointer;
}

.filled-btn {
  background-color: #6366f1;
  color: #fff;
}

.filled-btn:hover {
  background-color: #4245ed;
}

#data-setting form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#photo-input {
  display: none;
}

.placeholder-img-glow {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #c0a5f6;
  background-color: #e9ecef;
  animation: glow 1.5s ease-in-out infinite;
}
@keyframes glow {
  0% {
    background-color: #cccccc; /* Light gray */
  }
  50% {
    background-color: #e8e7e7; /* Lighter gray */
  }
  100% {
    background-color: #cccccc; /* Light gray */
  }
}

.change-pwd-btn {
  background: transparent;
  border: none;
  text-decoration: underline;
  color: blue;
  transition: all .3s;
}
.change-pwd-btn:hover {
  color: rgb(1, 1, 179);
}

@media screen and (max-width: 840px) {
  :host {
    flex-direction: column;
    align-items: center;
  }

  #data-setting {
    width: 100%;
  }
}
