<mat-drawer-container class="home-container" autosize>
  <mat-drawer #drawer class="home-sidenav" mode="side">
    <div class="sidenav-links">
      <img
        class="avatar"
        src="../../../assets/landing/teacher.png"
        alt="avatar"
      />
      <h4 class="mt-1 mx-3">{{ username }}</h4>
      <a
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/home/"
      >
        <fa-icon [icon]="houseIcon"></fa-icon>&nbsp; Головна
      </a>
      <a routerLink="/home/schedule" routerLinkActive="is-active">
        <i class="bi bi-calendar4-week"></i>&nbsp; Розклад
      </a>
      <a
        *ngIf="isTeacher"
        routerLinkActive="is-active"
        routerLink="/home/new-class"
      >
        <i class="bi bi-plus-circle"></i>&nbsp; Нове заняття
      </a>
      <a routerLinkActive="is-active" routerLink="/home/tasks">
        <fa-icon [icon]="taskIcon"></fa-icon>&nbsp; Завдання
      </a>
      <a *ngIf="isTeacher" routerLinkActive="is-active" routerLink="/home/new-task">
        <fa-icon [icon]="folderIcon"></fa-icon>&nbsp; Нове завдання
      </a>
      <a routerLinkActive="is-active" routerLink="/home/dictionary">
        <i class="bi bi-journal-bookmark-fill"></i>&nbsp; Словник
      </a>
      <a *ngIf="isTeacher" routerLinkActive="is-active" routerLink="/home/new-word">
        <fa-icon [icon]="penIcon"></fa-icon>&nbsp; Додати слово
      </a>
      <a
        *ngIf="isTeacher"
        routerLinkActive="is-active"
        routerLink="/home/students"
      >
        <i class="bi bi-people-fill"></i>&nbsp; Учні
      </a>
      <a routerLinkActive="is-active" routerLink="/home/tests" disabled>
        <i class="bi bi-patch-question"></i>&nbsp; Тести
      </a>
      <button (click)="signOut()" type="button">
        <fa-icon [icon]="doorIcon"></fa-icon>&nbsp; Вийти
      </button>
    </div>
  </mat-drawer>

  <div class="home-main-page">
    <router-outlet></router-outlet>
  </div>

  <button
    class="toggler"
    type="button"
    (click)="drawer.toggle(); renderCalendar()"
  >
    <fa-icon [icon]="toggleIcon"></fa-icon>
  </button>
</mat-drawer-container>
