<div class="wrapper">
  <div class="header">
    <p>Тест на перевірку знань з {{ languageToTest }}</p>
    <p>{{ questionIndex }} / {{ formLength }}</p>
  </div>

  <div style="border-radius: 0px !important;" class="progress" role="progressbar">
    <div
      class="progress-bar progress-bar-striped"
      [style.width]="progressRatio + '%'"
      ></div>
  </div>
  <div class="main-part">
    <div class="question">
      <span>
        <b>
          {{ question[0] }}
        </b>
      </span>
      <span *ngIf="question[1]" class="empty-word"></span>
      <span *ngIf="question[1]">
        <b>
          {{ question[1] }}
        </b>
      </span>
    </div>
    <div class="answers">
      <button
        *ngFor="let a of answers"
        (click)="selectAnswer(formField, a.answer)"
        type="button"
      >
        {{ a.text }}
      </button>
    </div>
  </div>
</div>
