<div class="main-wrapper mb-3">
  <div class="heading">
    <p><b>Історія занять</b></p>
  </div>
  <div class="w-100 px-3 mb-5">
    <div
      class="table-responsive w-100"
      *ngIf="isUserTeacher; else studentSection"
    >
      <div class="w-100 mb-3 p-2">
        <form [formGroup]="classSearchForm" id="search-form">
          <fieldset>
            <select
              style="border: 2px solid var(--new-blue); border-radius: 15px"
              formControlName="studentId"
              class="form-select"
            >
              <option selected disabled value="default">Вибрати учня</option>
              <option *ngFor="let s of students$ | async" value="{{ s.id }}">
                {{ s.name }}
              </option>
            </select>
          </fieldset>

          <fieldset>
            <button (click)="openDialog()" class="outline-btn" type="button">
              <fa-icon [icon]="icons.add"></fa-icon>
              Додати заняття
            </button>
          </fieldset>
        </form>
      </div>
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Учень</th>
            <th scope="col">Дата</th>
            <th scope="col">Вартість (₴)</th>
            <th scope="col">Статус оплати</th>
            <th scope="col">Поточний стан</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let c of filteredClasses$
                | async
                | paginate : { itemsPerPage: 10, currentPage: currentPage };
              index as i
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ c.studentName }}</td>
            <td>{{ c.start }}</td>
            <td>{{ c.price }}</td>
            <td>
              <span
                *ngIf="c.isPaid; else notPaidBadge"
                class="badge text-bg-success"
                >Сплачено</span
              >
              <ng-template #notPaidBadge>
                <span class="badge text-bg-danger">Не сплачено</span>
              </ng-template>
            </td>
            <td>
              <span
                *ngIf="c.isCancelled; else cancelledBadge"
                class="badge text-bg-danger"
                >Відмінено</span
              >
              <ng-template #cancelledBadge>
                <span class="badge text-bg-success">За графіком</span>
              </ng-template>
            </td>
            <td class="d-flex justify-content-center">
              <button
                data-bs-toggle="dropdown"
                mat-icon-button
                aria-label="Example icon button with a vertical three dot icon"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <div class="dropdown">
                <ul class="dropdown-menu">
                  <li>
                    <button
                      (click)="deleteClass(c.id)"
                      type="button"
                      class="dropdown-item"
                    >
                      Видалити
                    </button>
                  </li>
                  <li>
                    <button
                      (click)="cancelClass(c.id, c.isCancelled)"
                      [disabled]="!cancellationPolicy(c.start)"
                      type="button"
                      class="dropdown-item"
                    >
                      <span *ngIf="!c.isCancelled">Скасувати заняття</span>
                      <span *ngIf="c.isCancelled">Відновити заняття</span>
                    </button>
                  </li>
                  <li>
                    <button
                      (click)="changePaymentStatus(c.id, c.isPaid)"
                      type="button"
                      class="dropdown-item"
                    >
                      <span *ngIf="!c.isPaid">Оплата надійшла</span>
                      <span *ngIf="c.isPaid">Оплата не надійшла</span>
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #studentSection>
      <div class="pt-4 table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Дата</th>
              <th scope="col">Вартість (₴)</th>
              <th scope="col">Статус оплати</th>
              <th scope="col">Поточний стан</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let c of filteredClasses$
                  | async
                  | paginate : { itemsPerPage: 10, currentPage: currentPage };
                index as i
              "
            >
              <td>{{ i + 1 }}</td>
              <td>{{ c.start }}</td>
              <td>{{ c.price }}</td>
              <td>
                <span
                  *ngIf="c.isPaid; else notPaidBadge"
                  class="badge text-bg-success"
                  >Сплачено</span
                >
                <ng-template #notPaidBadge>
                  <span class="badge text-bg-danger">Не сплачено</span>
                </ng-template>
              </td>
              <td>
                <span
                  *ngIf="c.isCancelled; else cancelledBadge"
                  class="badge text-bg-danger"
                  >Відмінено</span
                >
                <ng-template #cancelledBadge>
                  <span class="badge text-bg-success">За графіком</span>
                </ng-template>
              </td>
              <td class="d-flex justify-content-center">
                <button
                  data-bs-toggle="dropdown"
                  mat-icon-button
                  aria-label="Example icon button with a vertical three dot icon"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <div class="dropdown">
                  <ul class="dropdown-menu">
                    <li>
                      <button
                        (click)="cancelClass(c.id, c.isCancelled)"
                        [disabled]="!cancellationPolicy(c.start)"
                        type="button"
                        class="dropdown-item"
                      >
                        <span *ngIf="!c.isCancelled">Скасувати заняття</span>
                        <span *ngIf="c.isCancelled">Відновити заняття</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>

<pagination-controls
  previousLabel=""
  nextLabel=""
  [maxSize]="5"
  [autoHide]="true"
  (pageChange)="currentPage = $event"
></pagination-controls>
