:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 15px;
}

full-calendar {
  width: 100%;
}

#dialogBtn {
  display: none;
}

.teacher-hint {
  color: black;
  font-style: oblique;
  font-weight: 600;
}
