<section>
  <div class="form-wrapper">
    <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">
      <legend>Змінити пароль</legend>

      <fieldset class="input-group has-validation">
        <div class="input-container">
          <div
            [class.is-invalid]="pwd1.invalid && (pwd1.dirty || pwd1.touched)"
            class="form-floating"
          >
            <input
              [class.is-invalid]="pwd1.invalid && (pwd1.dirty || pwd1.touched)"
              formControlName="pwd1"
              type="password"
              class="form-control"
              placeholder="Ваш новий пароль"
            />
            <label>Ваш новий пароль</label>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="pwd1.hasError('required')">
              <span>Пароль обов'язковий</span>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="input-group has-validation">
        <div class="input-container">
          <div
            [class.is-invalid]="pwd2.invalid && (pwd2.dirty || pwd2.touched)"
            class="form-floating"
          >
            <input
              [class.is-invalid]="pwd2.invalid && (pwd2.dirty || pwd2.touched)"
              formControlName="pwd2"
              type="password"
              class="form-control"
              placeholder="Підтвердіть пароль"
            />
            <label>Підтвердіть пароль</label>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="pwd2.hasError('required')">
              <span>Пароль обов'язковий</span>
            </div>
          </div>
        </div>
      </fieldset>

      <div
        *ngIf="resetPwdForm.errors?.['passwordMismatch'] && resetPwdForm.dirty"
      >
        <span style="color: red">Паролі не співпадають</span>
      </div>

      <div>
        <button
          *ngIf="!awaitingResponse; else loadingBtn"
          [disabled]="
            resetPwdForm.invalid && (resetPwdForm.dirty || resetPwdForm.touched)
          "
          type="submit"
          class="cta"
        >
          Продовжити
        </button>
        <ng-template #loadingBtn>
          <button class="cta" type="button" disabled>
            <span
              class="spinner-grow spinner-grow-sm"
              aria-hidden="true"
            ></span>
            Зачекайте...
          </button>
        </ng-template>
      </div>
    </form>

    <img src="../../../assets/reset-pwd/reset-password.svg" />
  </div>
</section>
