<div class="main-wrapper">
  <div class="heading">
    <p><b>Нові заявки</b></p>
  </div>
  <div class="w-100 px-3 mb-5">
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Пошта</th>
            <th scope="col">Курс</th>
            <th scope="col">Телефон</th>
            <th scope="col">Зв'язок</th>
            <th scope="col">Створено</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="!areApplicationsLoaded">
          <tr>
            <td colspan="8" class="text-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="areApplicationsLoaded">
          <tr *ngIf="applications.length == 0">
            <td colspan="8" class="text-center">Всі заявки оброблено 😎</td>
          </tr>
          <tr *ngFor="let s of applications; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ s.name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.course }}</td>
            <td>{{ s.phoneNumber }}</td>
            <td>{{ s.howToConnect }}</td>
            <td>{{ s.createdAt }}</td>
            <td>
              <button (click)="deleteApplication(s.email)" id="delete-btn">
                <fa-icon [icon]="icons.delete"></fa-icon>
                Видалити
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
