<mat-drawer-container autosize>
  <mat-drawer style="padding: 0px" #drawer mode="side">
    <div class="sidenav-links">
      <div style="display: flex; flex-direction: column">
        <a
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/home/"
        >
          <fa-icon [icon]="icons.house"></fa-icon> <span>Головна</span>
        </a>
        <a routerLink="/home/schedule" routerLinkActive="is-active">
          <fa-icon [icon]="icons.calendar"></fa-icon> <span>Розклад</span>
        </a>
        <a routerLink="/home/overview" routerLinkActive="is-active">
          <fa-icon [icon]="icons.overview"></fa-icon>
          <span>Історія занять</span>
        </a>
        <a routerLinkActive="is-active" routerLink="/home/tasks">
          <fa-icon [icon]="icons.task"></fa-icon> <span>Завдання</span>
        </a>
        <a routerLinkActive="is-active" routerLink="/home/dictionary">
          <fa-icon [icon]="icons.dictionary"></fa-icon> <span>Словник</span>
        </a>
        <a routerLinkActive="is-active" routerLink="/home/library">
          <fa-icon [icon]="icons.library"></fa-icon> <span>Бібліотека</span>
        </a>
        <a
          *ngIf="isTeacher"
          routerLinkActive="is-active"
          routerLink="/home/students"
        >
          <fa-icon [icon]="icons.students"></fa-icon> <span>Учні</span>
        </a>
        <a
          *ngIf="isTeacher"
          routerLinkActive="is-active"
          routerLink="/home/applications"
        >
          <fa-icon [icon]="icons.applications"></fa-icon> <span>Заявки</span>
        </a>
      </div>
      <div style="display: flex; flex-direction: column">
        <hr class="m-0" />
        <a routerLink="/home/settings" routerLinkActive="is-active">
          <fa-icon [icon]="icons.settings"></fa-icon> <span>Налаштування</span>
        </a>
        <button (click)="signOut()" type="button">
          <fa-icon [icon]="icons.signOut"></fa-icon> <span>Вийти</span>
        </button>
      </div>
    </div>
  </mat-drawer>

  <div
    style="
      background: #fff;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0px 0px 15px 15px;
    "
  >
    <button
      class="toggler"
      type="button"
      (click)="drawer.toggle(); renderCalendar()"
    >
      <i class="bi bi-list"></i>
    </button>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Мій профіль</li>
        <li *ngIf="getCurrentUrl() == '/home'" class="breadcrumb-item">
          Головна
        </li>
        <li *ngIf="getCurrentUrl() == '/home/schedule'" class="breadcrumb-item">
          Розклад
        </li>
        <li *ngIf="getCurrentUrl() == '/home/tasks'" class="breadcrumb-item">
          Домашні завдання
        </li>
        <li
          *ngIf="getCurrentUrl() == '/home/dictionary'"
          class="breadcrumb-item"
        >
          Словник
        </li>
        <li *ngIf="getCurrentUrl() == '/home/settings'" class="breadcrumb-item">
          Налаштування
        </li>
        <li *ngIf="getCurrentUrl() == '/home/students'" class="breadcrumb-item">
          Учні
        </li>
        <li
          *ngIf="getCurrentUrl() == '/home/applications'"
          class="breadcrumb-item"
        >
          Заявки
        </li>
        <li *ngIf="getCurrentUrl() == '/home/overview'" class="breadcrumb-item">
          Історія занять
        </li>
        <li *ngIf="getCurrentUrl() == '/home/library'" class="breadcrumb-item">
          Бібліотека
        </li>
      </ol>
    </nav>
  </div>

  <div #homeContent class="home-main-page">
    <!-- Home page content -->
    <div *ngIf="isHomePage">
      <!-- Avatar and greeting -->
      <div id="avatar-and-greeting">
        <img
          style="width: 90px !important; height: 90px !important"
          class="avatar"
          [src]="photoUrl"
          alt=""
        />
        <div style="display: flex; flex-direction: column">
          <h3 class="mb-0">Вітаємо, {{ username }} ✨</h3>
          <p
            *ngIf="isTeacher; else studentP"
            style="font-size: 15px; color: rgb(92, 92, 92); font-family: nunito"
          >
            Зареєстровані як вчитель
          </p>
          <ng-template #studentP>
            <p
              style="
                font-size: 15px;
                color: rgb(92, 92, 92);
                font-family: nunito;
              "
            >
              Зареєстровані як учень
            </p>
          </ng-template>
        </div>
      </div>

      <!-- Info cards, Chart, Calendar -->
      <div id="main-content">
        <div id="wrapper">
          <div id="card-container">
            <!-- Card 1 -->
            <div
              style="
                background-image: url('../../../assets/profile/teacher/blue-waves.svg');
              "
              class="info-card"
              (click)="changePage('Заявки')"
            >
              <div>
                <img
                  style="width: 30px"
                  src="../../../assets/profile/teacher/users.svg"
                  alt=""
                />
              </div>
              <div>
                <p>
                  Нових заявок:
                  <span style="font-family: montserrat-bold"
                    >&nbsp;{{ amountOfApplications$ | async }}</span
                  >
                </p>
              </div>
            </div>
            <!-- Card 2 -->
            <div
              style="
                background-image: url('../../../assets/profile/teacher/purple-waves.svg');
              "
              class="info-card"
              (click)="changePage('Розклад')"
            >
              <div>
                <img
                  style="width: 30px"
                  src="../../../assets/profile/teacher/lesson.svg"
                  alt=""
                />
              </div>
              <div>
                <p>
                  Занять на цьому тижні:
                  <span style="font-family: montserrat-bold"
                    >&nbsp;{{ amountOfClassesForCurrentWeek$ | async }}</span
                  >
                </p>
              </div>
            </div>
            <!-- Card 3 -->
            <div
              style="
                background-image: url('../../../assets/profile/teacher/yellow-waves.svg');
              "
              class="info-card"
              (click)="changePage('Всі завдання')"
            >
              <div>
                <img
                  style="width: 30px"
                  src="../../../assets/profile/teacher/todo.svg"
                  alt=""
                />
              </div>
              <div>
                <p>
                  Невиконане ДЗ:
                  <span style="font-family: montserrat-bold"
                    >&nbsp;{{ amountOfClassesForCurrentWeek$ | async }}</span
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="mt-4 chart-container">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [yaxis]="chartOptions.yaxis"
              [title]="chartOptions.title"
              [markers]="chartOptions.markers"
              [zoom]="chartOptions.zoom"
              [grid]="chartOptions.grid"
            >
            </apx-chart>
          </div>
        </div>

        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
