<div style="background-color: #fff;" id="hotline-wrapper">
  <div id="socials-card">
    <h3 class="sub-heading">Зв'яжіться з нами</h3>
    <div id="socials-content">
      <img
        class="socials-background-img"
        src="../../../../assets/landing/socials/girl-1.png"
        alt="Smiling girl"
      />

      <div class="d-flex flex-column gap-5 py-3">
        <div class="contact">
          <img class="contact-badge" src="../../../assets/landing/msg.png" />

          <h4>Соціальні мережі</h4>

          <div class="socials-icons">
            <a
              class="social-links"
              target="_blank"
              href="https://www.instagram.com/deutschperfektlernen/"
            >
              <fa-icon [icon]="instagram"></fa-icon>
            </a>
            <a class="social-links" target="_blank" href="#">
              <fa-icon [icon]="telegram"></fa-icon>
            </a>
            <a class="social-links" target="_blank" href="#">
              <fa-icon [icon]="viber"></fa-icon>
            </a>
            <a class="social-links" target="_blank" href="#">
              <fa-icon [icon]="whatsapp"></fa-icon>
            </a>
          </div>
        </div>

        <div class="contact">
          <img class="contact-badge" src="../../../assets/landing/email.png" />
          <h4>Пошта</h4>
          <div class="icons">
            <a class="social-links" href="mailto:support@vedis.com.ua"
              >support&#64;vedis.com.ua</a
            >
          </div>
        </div>
      </div>

      <img
        class="socials-background-img"
        src="../../../../assets/landing/socials/guy-1.png"
        alt="Smiling guy"
      />
    </div>
  </div>
</div>