.main-wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-image: url(../../../../assets/profile/heading.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  font-family: montserrat-bold;
  font-size: 30px;
  color: #fff;
}

.table thead th {
  background-color: #ededed;
}

.table td {
  vertical-align: middle;
}

#delete-btn {
  border: 1px solid red !important;
  background-color: #fff;
  color: red !important;
  border-radius: 8px;
  padding: 5px;
  font-family: nunito;
  transition: 0.5s ease;
  cursor: pointer;
}
#delete-btn:hover {
  background-color: rgb(255, 217, 217);
}
