<section>
  <!-- Error message -->
  <div
    *ngIf="showErrorMsg"
    class="alert alert-danger alert-dismissible text-center"
    role="alert"
  >
    <div>
      <span>{{ errorMsg }}</span>
    </div>
    <button
      (click)="showErrorMsg = !showErrorMsg"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <legend>Увійти в особистий кабінет</legend>

      <!-- Email control -->
      <fieldset class="input-group has-validation">
        <div class="input-container">
          <div
            [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
            class="form-floating"
          >
            <input
              [class.is-invalid]="
                email.invalid && (email.dirty || email.touched)
              "
              formControlName="email"
              type="text"
              class="form-control"
              placeholder="Пошта"
            />
            <label>Пошта</label>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="email.hasError('required')">
              <span>Email обов'язковий</span>
            </div>
            <div *ngIf="email.hasError('email') || email.hasError('minlength')">
              <span>Email недійсний</span>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Password control -->
      <fieldset class="input-group has-validation">
        <div class="input-container">
          <div
            [class.is-invalid]="
              password.invalid && (password.dirty || password.touched)
            "
            class="form-floating"
          >
            <input
              [class.is-invalid]="
                password.invalid && (password.dirty || password.touched)
              "
              formControlName="password"
              type="password"
              class="form-control"
              id="emailControl"
              placeholder="Пароль"
              autocomplete="on"
            />
            <label for="emailControl">Пароль</label>
          </div>
          <div class="invalid-feedback">
            <div *ngIf="password.hasError('required')">
              <span>Пароль обов'язковий</span>
            </div>
          </div>
        </div>
      </fieldset>

      <div>
        <button
          *ngIf="!awaitingResponse; else loadingBtn"
          [disabled]="
            loginForm.invalid && (loginForm.dirty || loginForm.touched)
          "
          type="submit"
          class="cta"
        >
          Увійти
        </button>
        <ng-template #loadingBtn>
          <button class="cta" type="button" disabled>
            <span
              class="spinner-grow spinner-grow-sm"
              aria-hidden="true"
            ></span>
            Зачекайте...
          </button>
        </ng-template>
        <div class="mt-3">
          <a routerLink="/recover">Забули пароль?</a>
        </div>
      </div>
    </form>

    <img src="../../../assets/login/login-img.png" alt="Person with laptop" />
  </div>
</section>
