<div id="wrapper" *ngIf="!isQuizStarted; else quiz">
  <h3>Тест на визначення рівня німецької</h3>
  <div id="test-heading">
    <div id="text">
      <p>
        📝 Хочете дізнатися свій рівень володіння німецькою мовою та почати
        ефективно вдосконалювати свої навички?
      </p>
      <p>
        🚀 Незалежно від того, чи ви початківець або вже досвідчений учень, наш
        тест надасть вам чітку картину вашого поточного рівня мовленнєвої
        компетенції.
      </p>
      <p>
        🎯 Готові визначити свій рівень та розпочати захоплюючу подорож до
        майстерності в німецькій мові? Пройдіть тест вже зараз та почніть свій
        шлях до успіху разом з нами!
      </p>
      <div id="cards">
        <div class="test-card">
          <div class="icon"><i class="bi bi-watch"></i></div>
          <p>
            Тривалість тесту: <br />
            <b>15 хвилин</b>
          </p>
        </div>
        <div class="test-card">
          <div class="icon"><i class="bi bi-check2-circle"></i></div>
          <p>
            Всього питань: <br />
            <b>30</b>
          </p>
        </div>
        <div class="test-card">
          <div class="icon"><i class="bi bi-cash-coin"></i></div>
          <p>
            Вартість: <br />
            <b>0 грн.</b>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button (click)="startQuiz()" class="cta" type="button">
          Розпочати
        </button>
      </div>
    </div>
    <img
      id="hero-img"
      src="../../../assets/language-test/test-hero.png"
      alt="Panda studies"
    />
  </div>
</div>

<ng-template #quiz>
  <section *ngIf="!isQuizFinished; else quizResult">
    <app-quiz
      [isQuizFinished]="isQuizFinished"
      [formField]="formField"
      [languageToTest]="languageToTest"
      [questionIndex]="questionIndex"
      [formLength]="formLength"
      [question]="question"
      [answers]="answers"
      (selectedAnswer)="processAnswer($event)"
    ></app-quiz>
  </section>
  <ng-template #quizResult>
    <div *ngIf="awaitingResponse">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <section *ngIf="!awaitingResponse">
      <div id="test" class="result-wrapper">
        <div class="result-details">
          <p class="main-result">Тест пройдено 💫</p>
          <hr />
          <p class="secondary-description">{{ testResult.description }}</p>
          <hr />
          <div>
            <p class="secondary-description m-0">
              Ваш рівень
              <span style="color: var(--dark-blue)" class="main-result">{{
                testResult.level
              }}</span>
            </p>
          </div>
          <hr />
          <div>
            <p class="secondary-description m-0">
              Правильних відповідей:
              <span style="color: var(--dark-blue)" class="main-result">{{
                testResult.score
              }}</span>
            </p>
          </div>
          <hr />
          <div>
            <button (click)="registerForClasses()" class="cta" routerLink="/" type="button">
              Залишити заявку
            </button>
          </div>
        </div>
        <img
          class="result-vis"
          src="../../../../assets/landing/level-check/levels.png"
        />
      </div>
    </section>
  </ng-template>
</ng-template>
