:host {
  width: 100%;
  background-color: #ecefff;
}

#myBtn {
  font-size: 30px;
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  background-color: transparent;
  z-index: 99;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
