<!-- Hero section -->
<app-hero-section></app-hero-section>

<!-- Carousel section -->
<app-carousel-section></app-carousel-section>

<!-- About school & teacher section -->
<app-about-section></app-about-section>

<!-- Language test section -->
<app-test-section></app-test-section>

<!-- School pros section -->
<app-school-pros-section></app-school-pros-section>

<!-- FAQ section -->
<app-faq-section></app-faq-section>

<!-- Contact section -->
<app-contact-section></app-contact-section>

<!-- Blog section -->
<app-blog-section></app-blog-section>

<!-- Socials section -->
<app-socials-section></app-socials-section>

<button id="myBtn" (click)="topFunction()" type="button" title="Go to top">
  <i style="color: #000d83" class="bi bi-caret-up-square-fill"></i>
</button>
