<div class="class-card">
  <h5 class="text-center my-0">Новий урок 📆</h5>
  <hr />
  <form [formGroup]="newClassForm" (ngSubmit)="onSubmit()">
    <!-- Student name field -->
    <fieldset>
      <label for="student-select">Виберіть учня</label>
      <select
        formControlName="studentId"
        [class.mark-invalid]="
          studentId.value == 'default' && (studentId.dirty || studentId.touched)
        "
        id="student-select"
        class="form-select"
      >
        <option selected disabled value="default"></option>
        <option *ngFor="let s of students$ | async" value="{{ s.id }}">
          {{ s.name }}
        </option>
      </select>
    </fieldset>

    <!-- Student's timezone -->
    <fieldset style="color: grey">
      <span>Часовий пояс учня:</span>
      <span class="teacher-hint">{{ timezone.student }}</span>
    </fieldset>

    <!-- Teacher's timezone -->
    <fieldset style="color: grey">
      <span>Ваш часовий пояс:</span>
      <span class="teacher-hint">{{ timezone.teacher }}</span>
    </fieldset>
    <hr />

    <!-- Start field -->
    <fieldset>
      <label for="class-time-start">Початок уроку</label>
      <input
        id="class-time-start"
        [class.mark-invalid]="start.invalid && (start.dirty || start.touched)"
        formControlName="start"
        type="datetime-local"
        class="form-control"
      />
    </fieldset>

    <!-- Teacher's start -->
    <fieldset style="color: grey">
      <span>Початок уроку для вас:</span>
      <span class="teacher-hint">{{ teacherTime.start }}</span>
    </fieldset>
    <hr />

    <!-- End field -->
    <fieldset>
      <label for="class-time-end">Кінець уроку</label>
      <input
        id="class-time-end"
        [class.mark-invalid]="end.invalid && (end.dirty || end.touched)"
        formControlName="end"
        type="datetime-local"
        class="form-control"
      />
    </fieldset>

    <!-- Teacher's end -->
    <fieldset style="color: grey">
      <span>Кінець уроку для вас:</span>
      <span class="teacher-hint">{{ teacherTime.end }}</span>
    </fieldset>
    <hr />

    <!-- Price field -->
    <fieldset>
      <label for="class-price">Вартість (₴)</label>
      <input
        id="class-price"
        [class.mark-invalid]="price.invalid && (price.dirty || price.touched)"
        formControlName="price"
        type="number"
        class="form-control"
      />
    </fieldset>
    <hr />

    <div class="w-100 mt-2 d-flex justify-content-center">
      <button
        (click)="onSubmit()"
        *ngIf="!awaitingResponse; else loadingBtn"
        type="button"
        class="outline-btn"
      >
        Створити
      </button>
      <ng-template #loadingBtn>
        <button class="cta" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
          Зачекайте...
        </button>
      </ng-template>
    </div>
  </form>
</div>
