<div
  *ngIf="showErrorMsg"
  class="alert alert-danger d-flex align-items-center gap-3"
  role="alert"
>
  <div>Помилка! Спробуйте ще раз</div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    (click)="showErrorMsg = !showErrorMsg"
  ></button>
</div>
<div
  *ngIf="showSuccessMsg"
  class="alert alert-success d-flex align-items-center gap-3"
  role="alert"
>
  <div>Урок створено!</div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    (click)="showSuccessMsg = !showSuccessMsg"
  ></button>
</div>
<div class="class-card">
  <form [formGroup]="newClassForm" (ngSubmit)="onSubmit()">
    <legend>Новий урок</legend>

    <!-- Student name field -->
    <fieldset>
      <label for="student-select">Виберіть учня</label>
      <select
        formControlName="student"
        [class.is-invalid]="
          student.value == 'default' && (student.dirty || student.touched)
        "
        id="student-select"
        class="form-select"
      >
        <option selected disabled value="default"></option>
        <option
          *ngFor="let s of students$ | async"
          value="{{ s.id }} {{ s.name }}"
        >
          {{ s.name }}
        </option>
      </select>
      <div id="validationServer05Feedback" class="invalid-feedback">
        <span
          class="error-span"
          *ngIf="
            student.value == 'default' && (student.dirty || student.touched)
          "
          >Це поле є обов'язковим</span
        >
      </div>
    </fieldset>

    <!-- Start field -->
    <fieldset>
      <label for="class-time-start">Початок уроку</label>
      <input
        id="class-time-start"
        [class.is-invalid]="start.invalid && (start.dirty || start.touched)"
        formControlName="start"
        type="datetime-local"
        class="form-control"
      />
    </fieldset>

    <!-- End field -->
    <fieldset>
      <label for="class-time-end">Кінець уроку</label>
      <input
        id="class-time-end"
        [class.is-invalid]="end.invalid && (end.dirty || end.touched)"
        formControlName="end"
        type="datetime-local"
        class="form-control"
      />
    </fieldset>

    <div class="w-100 d-flex justify-content-center">
      <button
        *ngIf="!awaitingResponse; else loadingBtn"
        type="submit"
        class="cta"
      >
        Створити
      </button>
      <ng-template #loadingBtn>
        <button class="cta" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
          Зачекайте...
        </button>
      </ng-template>
    </div>
  </form>
</div>
