.main-wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-image: url(../../../../assets/profile/heading.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  font-family: montserrat-bold;
  font-size: 30px;
  color: #fff;
}

td.hidden-text::before {
  content: "****";
}
td.hidden-text p {
  display: none;
}

.custom-form {
  display: inline-block;
  border: 1px solid black;
  max-width: fit-content;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: larger;
}

label {
  font-weight: 600;
}

.table thead th {
  background-color: #ededed;
}

#search-input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--new-blue);
  border-radius: 15px;
  background-color: white;
  background-image: url("../../../../assets/profile/search.svg");
  background-size: 12px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 30px;
}
#search-input:active,
#search-input:focus {
  border: 2px solid var(--new-blue);
  outline: none;
}

select {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  form {
    flex-direction: column;
    width: 70%;
    gap: 10px;
  }
  table {
    font-size: 13px;
  }
}
