#wrapper {
  padding: 15px 15px 5px 5px;
  background-color: var(--dark-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  font-family: nunito-regular;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.7s;
}

a:hover {
  text-decoration: underline;
  color: #c7c7c7;
}

#links {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 639px) {
  #wrapper {
    font-size: 10px;
    align-items: center;
  }

  #links {
    flex-direction: column-reverse;
    justify-content: flex-end;    
    text-align: end;
  }
}
