<section id="hero-card">
  <div id="hero-text">
    <h3>Освіта без кордонів</h3>
    <h3>Кожен день - шанс здивувати себе</h3>

    <div id="hero-img-phone">
      <img
        id="student-gif"
        src="../../../../assets/landing/intro/student.gif"
        alt="Student GIF"
      />
      <div id="teacher-gif">
        <img
          src="../../../../assets/landing/intro/teacher.gif"
          alt="Teacher GIF"
          style="
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: 4px solid var(--dark-blue);
          "
        />
      </div>
    </div>

    <div id="hero-pros" class="mt-4 gap-3">
      <div id="pros-left">
        <p class="mb-1">
          <i class="bi bi-check2"></i>
          Онлайн заняття
        </p>
        <p class="mb-1">
          <i class="bi bi-check2"></i>
          Сертифікований викладач
        </p>
      </div>
      <div id="pros-right">
        <p class="mb-1">
          <i class="bi bi-check2"></i>
          Підготовка до екзаменів
        </p>
        <p class="mb-1">
          <i class="bi bi-check2"></i>
          Індивідуальний підхід
        </p>
      </div>
    </div>

    <div id="hero-btns">
      <button (click)="scrollToSection()" class="cta" type="button">
        Розпочати
      </button>
      <button
        id="check-lvl-btn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#testModal"
      >
        <span>Визначити рівень</span>
        <i class="bi bi-arrow-right-short"></i>
      </button>
    </div>
  </div>

  <div id="hero-img" style="position: relative; height: 50vh">
    <img
      src="../../../../assets/landing/intro/student.gif"
      alt="Student GIF"
      style="
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 5px rgb(129, 129, 129);
        border: 4px solid var(--dark-blue);
      "
    />
    <div
      style="
        position: absolute;
        left: -15%;
        bottom: 25px;
        height: 20vh;
        width: 25vh;
      "
    >
      <img
        src="../../../../assets/landing/intro/teacher.gif"
        alt="Teacher GIF"
        style="
          height: 100%;
          width: 100%;
          object-fit: cover;
          border: 4px solid var(--dark-blue);
        "
      />
    </div>
  </div>
</section>
